# Ignoring javascript or typescript setups
**/node_modules
**/package-lock.json
**/yarn.lock

# Built folder
typescript/dist

# vscode settings
.vscode

# Ignoring unwanted files
*/**/.DS_Store

# Ignore sql practices folder
sql

# Ignore Java files
**/target
**/.classpath
**/.project

.DS_Store
